    * {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    background-color: rgb(247, 215, 188);
    border: 5px solid rgb(255, 177, 112);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

/* Personal Style Stuff */

body{
    background-color: rgb(204, 177, 156);
}

.navbarStuff{
    background-color: rgb(255, 177, 112);
}

.center{
    text-align: center;
}

.imageCenter{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #dbe4ed;
}

@font-face {
    font-family: "CustomFont";
    src: url("TheFountainOfWishesRegular-OVxw4.ttf");
}

*{
    font-family: "CustomFont";
}

h1{
    font-size: 65px;
}

h3{
    font-size: 45px;
}

h5{
    font-size: 35px;
}

h6{
    font-size: 25px;
}

p{
    font-size: 15px;
}

/* gallery view */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}